<h1>@ViewBag.trail.Name</h1>
<h3>Description</h3>
<p>@ViewBag.trail.Description</p>

<h3>Trail Length</h3>
<p>@ViewBag.trail.Length Miles</p>

<h3>Elevation Change</h3>
<p>@ViewBag.trail.Elevation Feet</p>

<p>Longitude - @ViewBag.trail.Longitude</p>
<p>Latitude - @ViewBag.trail.Latitude</p>